LoanServicingTasks/LoanServicingTasks/Web References/utiloan/tasks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessBorrowerStatements">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessBorrowerStatementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessBorrowerStatementsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessInvestorStatements">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessInvestorStatementsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcessInvestorStatementsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessBorrowerStatementsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessBorrowerStatements" />
  </wsdl:message>
  <wsdl:message name="ProcessBorrowerStatementsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessBorrowerStatementsResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessInvestorStatementsSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessInvestorStatements" />
  </wsdl:message>
  <wsdl:message name="ProcessInvestorStatementsSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessInvestorStatementsResponse" />
  </wsdl:message>
  <wsdl:portType name="TasksSoap">
    <wsdl:operation name="ProcessBorrowerStatements">
      <wsdl:input message="tns:ProcessBorrowerStatementsSoapIn" />
      <wsdl:output message="tns:ProcessBorrowerStatementsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessInvestorStatements">
      <wsdl:input message="tns:ProcessInvestorStatementsSoapIn" />
      <wsdl:output message="tns:ProcessInvestorStatementsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TasksSoap" type="tns:TasksSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessBorrowerStatements">
      <soap:operation soapAction="http://tempuri.org/ProcessBorrowerStatements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessInvestorStatements">
      <soap:operation soapAction="http://tempuri.org/ProcessInvestorStatements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TasksSoap12" type="tns:TasksSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessBorrowerStatements">
      <soap12:operation soapAction="http://tempuri.org/ProcessBorrowerStatements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessInvestorStatements">
      <soap12:operation soapAction="http://tempuri.org/ProcessInvestorStatements" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tasks">
    <wsdl:port name="TasksSoap" binding="tns:TasksSoap">
      <soap:address location="http://www.utiloan.com/webmethods/tasks.asmx" />
    </wsdl:port>
    <wsdl:port name="TasksSoap12" binding="tns:TasksSoap12">
      <soap12:address location="http://www.utiloan.com/webmethods/tasks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>